<div class="register-container">
  <div class="register-box">
    <h2>Register</h2>
    <form (ngSubmit)="register()">
      <div class="input-group">
        <input type="text" [(ngModel)]="user.username" placeholder="Username" name="username" required>
      </div>
      <div class="input-group">
        <input type="email" [(ngModel)]="user.email" placeholder="Email" name="email" required>
      </div>
      <div class="input-group">
        <input type="password" [(ngModel)]="user.password" placeholder="Password" name="password" required>
      </div>
      <div class="input-group">
        <input type="date" [(ngModel)]="user.dateOfBirth" placeholder="Date of Birth" name="dateOfBirth" required>
      </div>
      <div class="input-group">
        <input type="text" [(ngModel)]="user.contactNumber" placeholder="Contact Number" name="contactNumber" required>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="termsCheck" required>
        <label class="form-check-label" for="termsCheck">I agree to the Terms and Conditions</label>
      </div>
      
      <button type="submit" class="register-button">Register</button>
      <p class="text-center">
        Already have an account? <br><a href="/login">Login here</a>
      </p>
    </form>
    
  </div>
</div>
