<div class="login-container">
  <div class="login-box">
    <h2>Login</h2>
    <form (ngSubmit)="login()">
      <div class="input-group">
        <input type="text" [(ngModel)]="user.username" placeholder="Username" name="username" required>
      </div>
      <div class="input-group">
        <input type="password" [(ngModel)]="user.password" placeholder="Password" name="password" required>
      </div>
      <div class="additional-options">
        <label>
          <input type="checkbox" name="remember"> Remember Me
        </label>
        <a href="#">Forgot Password?</a>
      </div>
      <button type="submit">Login</button>
      <div class="social-login">
        <button class="social-button">Login with Facebook</button>
        <button class="social-button">Login with Google</button>
      </div>
      <p class="text-center">
        New to the platform? <br><a href="register">Register here</a>
      </p>
    </form>
  </div>
</div>
