<div class="home-container">
  <div class="content-box">
    <h1 style="margin-top: 0.1em;">Welcome to Our Platform</h1>
    <p class="lead">Join us and explore new possibilities.</p>
    
    <!-- Adding an Icon or Illustration -->
    <div class="icon-container">
      <img src="assets/explore.png" alt="Explore" class="center-icon">
    </div>

    <div class="button-group"> <!-- Increased margin-top -->
      <a class="btn btn-primary btn-lg" style="margin-right: 2em;" routerLink="register">Register</a> <!-- Increased margin-right -->
      <a class="btn btn-secondary btn-lg" routerLink="login">Login</a>
    </div>
  </div>
</div>
